n8n_request_extract.json
{
  "name": "Request Extract - Store & Notify",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "request-extract"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_REQUESTS_SHEET_ID",
        "range": "Requests!A:D",
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "id": "GSheets",
      "name": "Store Request",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourbrand.com",
        "toEmail": "OPERATOR_EMAIL@example.com",
        "subject": "New extraction request: {{$json[\"groupLink\"]}}",
        "text": "A new extraction request was submitted by {{$json[\"clientName\"]}}.\n\nGroup link: {{$json[\"groupLink\"]}}.\n\nPlease process it."
      },
      "id": "Email",
      "name": "Notify Operator (Email)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { success: true } }];"
      },
      "id": "Response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Store Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Request": {
      "main": [
        [
          {
            "node": "Notify Operator (Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Operator (Email)": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
